pkgbase = multimc-bin
	pkgdesc = Free, open source launcher and instance manager for Minecraft.
	pkgver = 1.6
	pkgrel = 2
	url = http://multimc.org/
	arch = i686
	arch = x86_64
	license = Apache
	depends = zlib
	depends = opengl-driver
	depends = qt5-base
	depends = qt5-x11extras
	depends = qt5-svg
	depends = xorg-xrandr
	depends = zenity
	depends = wget
	provides = multimc
	provides = multimc5
	provides = multimc5-git
	conflicts = multimc
	conflicts = multimc5
	conflicts = multimc5-git
	noextract = multimc-bin-1.6.deb
	source = multimc-bin-1.6.deb::https://files.multimc.org/downloads/multimc_1.6-1.deb
	source = https://raw.githubusercontent.com/MultiMC/Launcher/f45f83173662ea8d28a6d69a5312679df76d762b/launcher/package/ubuntu/multimc/usr/share/man/man1/multimc.1
	sha1sums = b943427e5f32f6a41d77a373029731c67571901d
	sha1sums = b4f1dfc021fbf6be22b066734364a1f87ed37214

pkgname = multimc-bin
